<div class ="main">
  <h2>Commercial Insurance</h2>
  <p>Are you a business owner or thinking about starting/buying a business? Business insurance covers all those assets and beyond and keeps it all serperate from your coverages on personal property. Commercial insurance is design to cover retail business, contractors, restaurants, distributors, churches, and more. Please feel free to request more information on what kinds of businesses you can get insured! General liability includes both the premisis and products. Loss of income coverage is available as well as equipment breakdown, employment practices liability, company auto, as well as cargo.</p>
</div>
<table>
  <tr>
    <td><img src="imgs/OMIG.png"/></td>
    <td><div id="wayne"><img src="imgs/wayne.png"/></div></td>
  </tr>
  <tr>
    <td colspan="2"><img id="liberty" src="imgs/liberty.png"/></td>
  </tr>
</table>
