<div class="accordian">
  <h1>Commercial Insurance:</h1>
  <ul>
    <li>
      <input type="checkbox" unchecked>
      <i></i>
      <h2>Retail/Service Class</h2>
      <p>Retail and Service Classes Include:<br>
      <br> - Carpentry Contractor
      <br> - Appliance Stores
      <br> - Auto Parts Stores
      <br> - Beauty & Barber Shops
      <br> - Apartment Building
      <br> - Churches
      <br> - Florists
      <br> - Funeral Homes
      <br> - Gift Shops & Greeting Card Stores
      <br> - Hardware / Home Improvement Stores
      <br> - Lawn & Garden Suppy Stores
      <br> - Paint & Wallpaper Stores
      <br> - Printing / Copy Shops</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Artisan/Contractor Class</h2>
      <p>Artisan and Contractor Classes Include:<br>
      <br> - Carpentry Contractor
      <br> - Cleaning Service
      <br> - Drywall Contractor
      <br> - Excavation Grading Contractor
      <br> - Fence Erection Contractor
      <br> - Floor Covering Contractor
      <br> - HVAC Contractor
      <br> - Inside Electrical Contractor
      <br> - Painting Contractor
      <br> - Plumbing Contractor
      <br> - Residential Roofing
      <br> - Tree Trimming
      <br> - Window Cleaning Contractor
       </p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Commercial Auto</h2>
      <p> Auto insurance is a policy purchased by the vehicle owners, a business or company, to mitigate costs associated with getting into an auto accident. Instead of paying out of pocket for auto accidents, companies pay annual premiums to an auto insurance company; the insurance company then pays all or most of the costs associated with an auto accident or other vehicle damage.</p>
    </li>
</div>
