html {
  height:100%;
  min-width: 1150px;
  /*background: rgb(109, 172, 127);*/
  background: rgb(37, 153, 84);
  /*brighter color second */
}
body {
  margin: 0;
}
header {
  /*border: #bff3ca 1px dotted;*/
  height: 140px;
  width: 600px;
  margin: auto;
}

.nav_option {
  transition: all .25s ease-in-out;
}

.top_background {
  width: 100%;
  /*background: linear-gradient(rgb(26, 113, 87), rgb(21, 108, 82));*/
  background: linear-gradient(rgb(52, 66, 66), rgb(44, 53, 58));
}

nav {
  /*border: 1px blue dotted;*/
  text-align: center;
  /*border-bottom: 1px #156C52 solid;*/
}

nav .nav_option {
  /*border: 1px blue dotted;*/
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 10px 70px 10px 70px;
  text-shadow: 0px 2px 1px rgba(10, 0, 30,);
}
/*.dropdown_butn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 10px 70px 10px 70px;
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}*/

.drop_down {
  position: relative;
  display: inline-block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.drop-content {
  text-align: left;
  display: none;
  position: absolute;
  left: 68px;
  padding-bottom: 7px;
  background:  rgb(44, 53, 58);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 140px;
  z-index: 9999;
  border-right: rgb(41, 40, 41);
}

.drop-content2 {
  text-align: left;
  display: none;
  position: absolute;
  left: 140px;
  top: 0px;
  padding-bottom: 7px;
  background:  rgb(44, 53, 58);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 160px;
  /*border-radius: 3px;*/
  z-index: 9999;
}

.drop-content3 {
  text-align: left;
  display: none;
  position: absolute;
  left: 140px;
  top: 28px;
  width: 225px;
  background: rgb(44, 53, 58);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content4 {
  text-align: left;
  display: none;
  position: absolute;
  left: 140px;
  top: 58px;
  width: 200px;
  background: rgb(44, 53, 58);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  margin: 3px 10px 3px 10px;
 /* border: 1px red solid;*/
  display: block;
  padding-right: 0px;
  border-bottom: 1px rgb(52, 66, 66) solid;
}

.drop-content #farm, #umbrella, #com_auto, #subfarm {
  border-bottom: none;
}

.drop-content3 p {
  padding-right: 3px;
}

.drop-content a {
  padding-left: 5px;
  padding-right: 30px;
}

.drop-content p:hover {
  background-color: rgb(52, 66, 66);
}

.drop_down:hover .drop-content{
  display: block;
  z-index: 9998;
}

.dropdown2:hover .drop-content2{
  display: block;
  z-index: 9998;
}

.dropdown3:hover .drop-content3{
  display: block;
  z-index: 9998;
}

.dropdown4:hover .drop-content4{
  display: block;
  z-index: 9998;
}

.dropdown2 {
  padding-right: 20px;
}

/*.dropdown2:hover .drop-content2 {
  display: block;
  z-index: 9999;
}*/

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  /*text-shadow: 0px 4px 1px rgba(0, 80, 30, 0.70);*/
}

nav a:active {
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}

footer {
  position: absolute;
  width: 100%;
  height:25px;
  background-color: rgb(37, 153, 84);
}

footer p {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(23, 85, 48);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
