h2 {
  color: rgb(43, 120, 68);
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

.main {
  border-radius: 9px;
  box-shadow: 0 8px 0 0 rgb(43, 120, 68) inset;
  background-color: white;
  /*position: relative;*/
  top: 60px;
  width: 650px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 20px 26px 15px 26px;
}

.main p {
  border-top: 1px dotted #dce7eb;
  padding-top: 15px;
  color: rgb(52, 66, 66);
  font-family: 'Titillium Web', sans-serif;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
}
