h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow:  0.5px 1px 4px rgba(0, 0, 0, 0.6);
}

form {
  margin: 2% auto;
  padding: 1em;
  width: 500px;
  color: #aaa;
  /*border: .1em solid #ddd;*/
  border-radius: 9px;
  background-color: white;
  margin-bottom: 80px;
  font-family:sans-serif;
  font-weight:300;
}

h4 {
  color: rgba(0,0,0,0.6);
  text-align: center;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 5px;
  /*text-shadow:  0.5px .5px 2px rgba(0, 0, 0, 0.6);*/
}

.name {
  width: 100%;
}

.name input,
.submit input,
select,
textarea {
  width: 31%;
  height: 3em;
  text-indent: .5em;
  border: .1em solid #ddd;
  border-radius: 4px;
  outline-color: white;
}

/*.name input[name="surname"] {
  float: right;
}*/

.name input[type="mail"] {
  margin-top: 1em;
  width: 100%;
}

#first_last {
  margin-right: 5px;
}
.radio,
.dropdown,
.message,
.check,
.submit {
  margin-top: 1em;
}

.dropdown select,
.message textarea,
.submit input {
  width: 100%;
}

.dropdown select {
  color: #aaa;
}

.message textarea {
  height: 8em;
}

.check input:before {
  left: -.1px;
}

.submit input {
  font-family: 'Montserrat', sans-serif;
  background: #116F43;
  color: #fff;
  border: 0;
  border-bottom: 4px solid #0A4328;
  font-size: 1em;
  font-weight: bold;
}

.submit input:hover {
  background: #18A361;
  border-bottom-color: #12816b;
}

.submit input:active {
  background: #116F43;
  border: none;
}