html {
  height:100%;
  min-width: 1150px;
  background: radial-gradient(#18a361, #116f43);
}

header {
  /*border: #bff3ca 1px dotted;*/
  height: 140px;
  width: 600px;
  margin: auto;
}

.ul {
  text-align: center;
}

.ul p {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 10px 70px 10px 70px;
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}

/*.dropdown_butn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 10px 70px 10px 70px;
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.drop-content {
  text-align: left;
  display: none;
  position: absolute;
  left: 105px;
  top: 32px;
  background: radial-gradient(#21784a, #165031);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 140px;
  border-radius: 8px;
  z-index: 9999;
}

.drop-content2 {
  text-align: left;
  display: none;
  position: absolute;
  left: 120px;
  top: 0px;
  background: radial-gradient(#21784a, #165031);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 150px;
  border-radius: 8px;
  z-index: 9999;
}

.drop-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  margin: 3px 10px 3px 10px;
 /* border: 1px red solid;*/
  display: block;
  padding-right: 20px;
}

.drop-content a {
  padding-right: 30px;
}

.drop-content a:hover {
  background-color: #165031;
}

.dropdown:hover .drop-content {
  display: block;
  z-index: 9998;
}

.dropdown2 {
  padding-right: 30px;
}

.dropdown2:hover .drop-content2 {
  display: block;
  z-index: 9999;
}

.ul a {
  text-decoration: none;
  color: white;
}

.ul a:hover {
  text-shadow: 0px 4px 1px rgba(0, 80, 30, 0.70);
}

.ul a:active {
  font-size: 19px;
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
  padding-right: 7px;
}
/*
ul {
  border: 3px green dotted;

}

li {
  position: relative;
  display: inline-block;
  border: .7px red solid;
  margin-right: 13%;
  left: 10%;
}
*/
footer {
  position: fixed;
  height: 60px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #0a4328;
}

footer p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #c3eed6;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
