html {
  height:100%;
  min-width: 1150px;
  /*background: rgb(109, 172, 127);*/
  background: rgb(37, 153, 84);
  /*brighter color second */
}
body {
  margin: 0;
}
header {
  /*border: #bff3ca 1px dotted;*/
  height: 140px;
  width: 600px;
  margin: auto;
}

.top_background {
  width: 100%;
  /*background: linear-gradient(rgb(26, 113, 87), rgb(21, 108, 82));*/
  background: linear-gradient(rgb(52, 66, 66), rgb(44, 53, 58));
}

nav {
  /*border: 1px blue dotted;*/
  text-align: center;
  /*border-bottom: 1px #156C52 solid;*/
}

nav .nav_option {
  /*border: 1px blue dotted;*/
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 10px 70px 10px 70px;
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}
/*.dropdown_butn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 10px 70px 10px 70px;
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.drop-content {
  text-align: left;
  display: none;
  position: absolute;
  left: 68px;
  top: 41px;
  padding-bottom: 7px;
  background: rgb(21, 108, 82);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 140px;
  border-radius: 3px;
  z-index: 9999;
}

.drop-content2 {
  text-align: left;
  display: none;
  position: absolute;
  left: 120px;
  top: 0px;
  padding-bottom: 7px;
  background: rgb(21, 108, 82);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 150px;
  border-radius: 3px;
  z-index: 9999;
}

.drop-content p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
  margin: 3px 10px 3px 10px;
 /* border: 1px red solid;*/
  display: block;
  padding-right: 20px;
}

.drop-content a {
  padding-right: 30px;
}

.drop-content a:hover {
  background-color: #165031;
}

.dropdown:hover .drop-content {
  display: block;
  z-index: 9998;
}

.dropdown2 {
  padding-right: 30px;
}

.dropdown2:hover .drop-content2 {
  display: block;
  z-index: 9999;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-shadow: 0px 4px 1px rgba(0, 80, 30, 0.70);
  background-color: #165031;
}

nav a:active {
  text-shadow: 0px 2px 1px rgba(0, 50, 30, 0.28);
}

footer {
  position: relative;
  top: 80px;
  height: 60px;
  left: 0px;
  width: 100%;
  background-color: rgb(44, 53, 58);
}

footer p {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(41, 171, 94);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
