h2 {
  color: rgb(43, 120, 68);
  text-align: center;
  font-weight: 400;
  font-family: 'Titillium Web', sans-serif;
}

main {
  background-color: white;
  position: relative;
  top: 60px;
  width: 750px;
  margin: auto;
  padding-bottom: 40px;
}

main p {
  color: rgb(43, 120, 68);
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}
