table {
  width: 99%;
}

td {
  width: 33%;
}


.content {
  /*position: relative;*/
  width: 1050px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  margin-top: 30px;
  border-radius: 9px;
  box-shadow: 0 8px 0 0 rgb(43, 120, 68) inset;
  background-color: white;
  padding: 20px 26px 20px 26px;
}

h2 {
  padding-bottom: 20px;
  border-bottom: 1px dotted #dce7eb;
  color: rgb(43, 120, 68);
  text-align: center;
  font-size: 23px;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

h4 {
  /*position: relative;*/
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 36px;
  letter-spacing: 3px;
  font-weight: 100;
  color: rgb(52, 66, 66);
  text-align: center;
}

table a {
  text-decoration: none;
  color: white;
}

.filler {
  color: rgb(52, 66, 66);
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
}
