<div class= "main">
  <h2>Farm Insurance</h2>
  <p>Farm insurance is important for many reasons and is widely applicable. Whether you own a small farm of a few acres to a large corporation with hundreds or thousands of acres, your assets and liability can all be covered. Ask about coverage for damages due to weather, theft, or collision. Other coverages include borrowed or leased farm equipment, sudden and accidental pollution, vandalism. Options for these covered items include replacement, covered loss of farm income, identify fraud expense, and self-propelled farm machinery rental expenses. Additional expense coverage may be increased upon request. If you are a "Country Estate" (farms with less than 500 acres in some cases) then ask about available discounts! Additional discounts available for Auto/Home combinations, or even simply having smoke or burglar alarms.</p>
</div>
<table>
  <tr>
    <td><img src="imgs/OMIG.png"/></td>
    <td><div id="wayne"><img src="imgs/wayne.png"/></div></td>
  </tr>
  <tr>
    <td colspan="2"><img id="liberty" src="imgs/liberty.png"/></td>
  </tr>
</table>
