<div class="accordian">
  <h1>Farm Insurance:</h1>
  <ul>
    <li>
      <input type="checkbox" unchecked>
      <i></i>
      <h2>Estate/Hobby Farm</h2>
      <p>Estate/Hobby Farm insurance allows you to more specifically cover your assets that some homeowners insurance policies won’t cover. If you don’t farm, but you own a barn - this may be when you’d want to checkout an ‘estate/hobby’  policy. These typically are farms or land typically less than 500 acres. You may want into inquire further with our agents to help you figure out if you qualify for a ‘estate/hobby’ policy or an ‘farm’ policy. You can read more about ‘farm’ policies below.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Farm</h2>
      <p>Farm insurance allows you to take out a policy which could cover you farm, farm equipment, land, crop, farm structures and so forth. A ‘farm’ is typically that which has over 500 acres of land. You may want into inquire further with our agents to help you figure out if you qualify for a ‘farm’ policy or an ‘estate/hobby’ policy. You can read more about 'estate/hobby' policies above.</p>
    </li>
</div>
