<div class= "main">
  <h2>Personal Insurance</h2>
  <p>It seems you can insure pretty much anything these days. Personal insurance spans from your home, your car, assets including off-road vehicles, water vehicles, a motorhome, and the list goes on.</p>
  <p>Auto insurance coverage includes liability coverage, medical payments, towing and uninsured/underinsured motorists coverage. Homeowner insurance can cover hail, wind, fire, lightning, aircraft, explosion or riot/civil commotion damage. Discounts are available for 'young' homes (dwellings less than 20 years old). Plenty of other discount and coverages are available and we encourage anyone interested in knowing more to stop in or call. We'd be happy to help.</p>
</div>
<table>
  <tr>
    <td><img src="imgs/OMIG.png"/></td>
    <td><div id="wayne"><img src="imgs/wayne.png"/></div></td>
  </tr>
  <tr>
    <td><div id="safeco"><img src="imgs/safeco.png"/></div></td>
    <td><img id="progressive" src="imgs/progressive.png"/></td>
  </tr>
  <tr>
    <td colspan="2"><img id="foremost" src="imgs/foremost.jpg"/></td>
  </tr>
</table>
