<div class="main">
  <h2>About Wilde Insurance</h2>
  <p>Welcome to Wilde Insurance! We’ve been in the Wayne County area for over 65 years and we’re not going anywhere soon! Armed with a knowledgable staff with a combined experience of over 60 years of practice - we are a service oriented company. Our staff here are dedicated in servicing your needs, making sure you have the knowledge you need in order to protect your family, home, your business, and your assets. We have long withstanding relationships with our insurance providers and have been even been working with some of them from the start! And in that way we strive to have long withstanding relationships with our clients. Give us a call today or stop in anytime. Our doors are open and we’d be happy to see you about your insurance needs.</p>
</div>
