<div class="content">
  <h2>A Word About Personal, Commercial, and Farming Insurance</h2>
  <table>
    <tr>
      <td class="header"><a href="personal.html"><h4>Personal Insurance</h4></a></td>
      <td class="header"><a href="commercial.html"><h4>Commercial Insurance</h4></a></td>
      <td class="header"><a href="farm.html"><h4>Farming Insurance</h4></a></td>
    </tr>
    <tr>
      <td class ="filler"><p>Wilde Corp. offers a broad range of insurance products designed to provide both personal property - this is your car, your house, the things in your house, etc. Stop in and see us about what else you can insure.</p></td>
      <td class ="filler" id="commercial"><p>Wilde Corp. offers a broad range of insurance products designed to provide both property and liability coverage for businesses. Buildings, business personal property and income can be protected by this coverage.</p></td>
      <td class ="filler"><p>Whether you own a small farm with five acres; a horse farm, dairy, hog, or poultry operation; or a large family corporation with thousands of acres, we provide the coverage you need for your home, buildings, and liability under one policy.</p></td>
    </tr>
  </table>
</div>
