<main>
  <h2>THANK YOU!</h2>
  <p style="text-align:center;">Your request has been submited. Someone will be contacting you soon.<br>
    If you have any further questions please contact us at 330.927.6025
  </p>
</main>
